config.cache.pwd
objs
config.cache.source.list
config.cache.version
config.log
config.cache
config.pwd
Makefile
Makefile.am
Makefile.bundle
!tools/Makefile
bin
bundle
bundles
!bin/data/put_dune2_here.txt
!bin/data/dune.cfg
!bin/opendune.ini.sample
projects/*
!projects/generate
!projects/determineversion.vbs
!projects/*.in
!projects/*.filters
!projects/*.sln
!projects/*.vcproj
!projects/*.vcproj.user
!projects/*.vcxproj
src/rev.c
.DS_Store
tools/*.o
tools/*.pyc
tools/amigaMXextract
tools/extractpak
.*.swp
