config.cache.pwd
objs
config.cache.source.list
config.log
config.cache
config.pwd
Makefile
Makefile.am
bin/data/*.pak
bin/data/_save*.dat
bin/data/dune2.exe
bin/data/options.cfg
bin/*.log
projects/opendune_vs100.opensdf
projects/opendune_vs100.sdf
projects/opendune_vs100.vcxproj.user
